<div id="carouselExampleIndicators" class="carousel slide" data-pause="true" #carousel>
  <ol class="carousel-indicators d-none">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let slide of listSlide; let i = index;" [ngClass]="i === 0 ? 'active':''">

      <img *ngIf="slide.name === 'Реклама'" class="d-block w-100 image-slide"
           [src]="slide.object_picture[0].url_picture" alt="Первый слайд">

      <img *ngIf="slide.name !== 'Реклама'" class="d-block w-100 image-slide"
           [src]="'assets/white.jpg'" alt="Первый слайд">

      <div class="carousel-caption w-100 p-0 m-0">
        <app-slide [slide]="slide"></app-slide>
      </div>

    </div>

  </div>

  <a class="carousel-control-prev d-none" href="#carouselExampleIndicators" role="button" data-slide="prev" #prev>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next d-none" href="#carouselExampleIndicators" role="button" data-slide="next" #next>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
